DB_HOST=your_host_here
DB_USER=your_username_here
DB_PASSWORD=your_password_here
API_KEY=your_api_key_here

SENDER_EMAIL=your-email@gmail.com
SENDER_PASSWORD=your-app-password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587